h1 {
    font-family: 'Raleway', sans-serif;
}

/*Start Header*/

.navbar {
    margin-bottom: 0;
    padding-right: 4vw;
    padding-left: 4vw;
    width:100%;
}

/*EndHeader*/

/* Start thumbnail*/

.thumbnail {
    padding-bottom: 5vh;
}

/* Start thumbnail*/

/*Start Jumbotron*/

.container-fluid {
    padding: 0;
}

.jumbotron{
    background-image: url("../src/images/mountain.png");
    height:100vh;
    background-size: auto;
    text-align: center;
}

.jumbotron h1 {
    margin-top: 33vh;
    font-family: 'Raleway', sans-serif;
}

.btn {
    background-color: #A7C3CF;
    border: none;
}

/*End Jumbotron*/

/*Start page Video-game*/

.videogames {
    background-image: url("../src/images/gaming-pattern.png");
}

.media {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.media-heading {
    font-size: 5vh;
}

.media-body p {
    font-size: 2vh;
}

/*End page Video-game*/

/*Start page Movie*/

.movie {
    background-image: url("../src/images/hypnotize.png");
    padding-top:10vh;
}

/*End page Movie*/

/*Start configue image session*/

.media-object {
    height:40vh;
    width: 15vw;
}

/*Start page TV-show*/

.tv-show {
    background-image: url("../src/images/hypnotize.png");
}

/*End page TV-show*/

/*Start profil*/

.profil {
    padding-top:10vh;
    text-align: center;
}


th {
    text-align: center;
}
/*End profil*/

/*Start Login*/

.login {
    padding-top:10vh;
}

.form-controls {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*End Login*/

/*Start sign up*/

.signup {
    padding-top: 10vh;
}


/*Start Footer*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #A7C3CF;
}

footer li {
    list-style: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
}

/*End Footer*/